* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(232, 170, 7);
  font-family: "Caveat", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 187, 0);
}

body {
  background-color: rgb(10, 10, 10);
}

nav {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
nav .nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  font-size: 24px;
}
nav .nav_wrapper .nav__logo {
  background-image: url(assets/images/logo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: clamp(30px, 5vw, 50px);
  z-index: 2;
}
nav .nav_wrapper .nav__links.active {
  display: block;
}
nav .nav_wrapper .nav__links ul {
  display: flex;
  font-size: 20px;
  gap: 40px;
}

.nav_hamburger {
  display: none;
  cursor: pointer;
  z-index: 2;
}
.nav_hamburger .material-icons {
  font-size: 32px;
  color: rgb(255, 255, 255);
}

.hero_section {
  background: linear-gradient(rgba(10, 10, 10, 0.2), rgb(10, 10, 10)), url(assets/images/hero_background.jpeg);
  background-color: rgb(10, 10, 10);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}
.hero_section__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(40vw, 700px, 80vw);
  margin: auto;
  align-items: center;
  height: 100vh;
}
.hero_section__header {
  transform: rotate(-4deg);
  font-size: clamp(46px, 6vw, 100px);
  margin-bottom: 30px;
}
.hero_section__content {
  font-size: clamp(18px, 2vw, 25px);
}

.main_wrapper {
  text-align: center;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.main_wrapper .event_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: clamp(50vw, 700px, 80vw);
  margin: auto;
}
.main_wrapper .event_box__header {
  transform: rotate(-4deg);
  font-size: clamp(46px, 6vw, 100px);
  margin-bottom: 30px;
}
.main_wrapper .event_box__content {
  font-size: clamp(18px, 2vw, 25px);
}
.main_wrapper .event_box__button {
  width: 180px;
  padding: 12px 8px;
  font-size: 1.3em;
  border: none;
  background-color: rgb(232, 170, 7);
  border-radius: 50px;
}
.main_wrapper .event_box__button:hover {
  cursor: pointer;
  background-color: rgb(255, 187, 0);
}
.main_wrapper .burger_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: clamp(50vw, 700px, 80vw);
  margin: auto;
  width: 90vw;
}
.main_wrapper .burger_box__header {
  transform: rotate(-4deg);
  font-size: clamp(46px, 6vw, 100px);
  margin-bottom: 30px;
}
.main_wrapper .burger_box__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.main_wrapper .burger_box__content .burger_container {
  border: 1px solid rgb(42, 42, 42);
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 30px 10px;
}
.main_wrapper .burger_box__content .burger_container .burger__picture img {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.main_wrapper .burger_box__content .burger_container .burger__name {
  font-size: clamp(32px, 3vw, 48px);
}
.main_wrapper .order_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: clamp(50vw, 700px, 80vw);
  margin: auto;
}
.main_wrapper .order_box__header {
  transform: rotate(-4deg);
  font-size: clamp(46px, 6vw, 100px);
  margin-bottom: 30px;
}
.main_wrapper .order_box__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: clamp(18px, 2vw, 25px);
}
.main_wrapper .order_box__content__phone_number,
.main_wrapper .order_box__content .material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(232, 170, 7);
  font-size: clamp(32px, 3vw, 48px);
  font-weight: 600;
}
.main_wrapper .order_box__content .liefer_dienste {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main_wrapper .order_box__content img {
  width: 50px;
}

footer .footer_wrapper {
  font-size: 20px;
  background-color: #101010;
  opacity: 0.8;
  background-image: radial-gradient(rgb(232, 170, 7) 0.65px, rgb(25, 25, 25) 0.65px);
  background-size: 13px 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 30px 20px;
}
footer .footer_wrapper__logo img {
  width: 120px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
footer .footer_wrapper__line {
  height: 3px;
  width: 80%;
  max-width: 500px;
  background-color: rgb(232, 170, 7);
}
footer .footer_wrapper__restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .footer_wrapper__restaurant .material-icons {
  font-size: 3em;
}
footer .footer_wrapper__socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer_wrapper__socials__links {
  display: flex;
  gap: 15px;
}
footer .footer_wrapper__socials__links img {
  width: 30px;
}
footer .footer_wrapper__infos {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media (max-width: 1000px) {
  .nav_hamburger {
    display: flex;
    align-items: center;
  }
  .nav__links {
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
  .nav__links ul {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 10px;
  }
  .footer_wrapper__infos {
    flex-direction: column;
    gap: 10px !important;
  }
}/*# sourceMappingURL=style.css.map */